* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  height: 100vh;
}

.container {
  background-image: -o-linear-gradient(
    to bottom right,
    rgb(204, 16, 119),
    rgb(231, 191, 213)
  );
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 5px;
}
